<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>***Item*NEW*Project 2 New Comic Page</title>
        <!-- <link rel="stylesheet" href="/css/app.css"> -->
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Comic page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/items" method="POST">
            <!--  NOTE: the form is pre-populated with values for the server-->
            User ID:* <input class="required" type="integer" name="userId" />  
            Title:* <input class="required" type="text" name="title" /><br/>
            Issue:* <input class="required" type="text" name="issue" /><br/>   
            Publication Date:* <input class="required" type="text" name="publicationCoverDate" /><br/>
            Volume:* <input class="required" type="text" name="volume" /><br/>
            Volume Year: <input type="text" name="volumeYear" /><br/>
            Variant: <input type="text" name="variantCover" /><br/>
            Type: <input type="text" name="typeItem" /><br/>
            Cover Price:* <input class="required" type="text" name="priceCover" /><br/>
            Price Paid: <input type="text" name="pricePaid" /><br/>
            Date Paid: <input type="text" name="datePaid" /><br/>
            Condition: <input type="text" name="condition" /><br/>
            Valuation: <input type="text" name="valuation" /><br/>
            Valuation Date: <input type="text" name="valuationDate" ><br/>
            Valuation Source: <input type="text" name="valuationSource" /><br/>
            Publisher:* <input class="required" type="text" name="publisher" /><br/>
            Keywords: <input type="text" name="keyWords" /><br/>
            Box Number: <input type="text" name="boxNumber" /><br/>
            Box Divider: <input type="text" name="boxDivider" /><br/>
            Box Location: <input type="text" name="boxLocation" /><br/>
            Artist #1: <input type="text" name="artist1" /><br/>
            Artist #2: <input type="text" name="artist2" /><br/>
            Writer #1: <input type="text" name="writer1" /><br/>
            Writer #2: <input type="text" name="writer2" /><br/>
            Inks: <input type="text" name="inker" /><br/>
            Lettering: <input type="text" name="lettering" /><br/>
            Coloring: <input type="text" name="coloring" /><br/>
            Editor: <input type="text" name="editor" /><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
            </form>
    </body>
</html>